* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
.hamburger-menu {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right .7s;
}

.change .hamburger-menu {
    right: 33rem;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: white;
    box-shadow:0 0.1rem .2rem rgba(0, 0, 0, .2);
}

.change .line {
    background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
    transform: rotate(45deg)translate(.3rem, .8rem);
}

.change .line-2 {
    opacity: 0;
    visibility: hidden;
}

.change .line-3 {
    transform: rotate(-45deg)translate(.3rem, -.8rem);
}

.hamburger-menu span {
    position: absolute;
    left: 5rem;
    width: 10rem;
    height: 4rem;
    background-color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.change .hamburger-menu:hover span {
    opacity: 1;
    visibility: visible;
}

.hamburger-menu span::before {
    content: "";
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid darkmagenta;
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
}
.sidebar {
    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40rem;
    background-color: white;
    transition: right .5s;
    z-index: 100;
}

.change .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
}

.menu-link {
    font-size: 4rem;
    color: rgb(138, 134, 134);
    position: relative;
}

.menu-link::before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: darkmagenta;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width .3s ease-in-out;
}

.menu-link:hover::before {
    width: 100%;
}

.social-media {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-media i {
    font-size: 2.2rem;
    margin: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: darkmagenta;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .3s;
}

.social-media i:hover {
    background-color: #c29525;
}
.content {
    width: 100%;
    height: 100vh;
}

.post-title {
    font-size: 5rem;
    padding: 3rem 0 0 0;
    margin-bottom: 7rem;
    text-align: center;
}

.post-content {
    padding: 6rem;
    margin: 1rem;
}

.post-content p {
    font-size: 2rem;
    text-align: justify;
    margin: .5rem;
}

.post-content h2 {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
}

.post-content h3 {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    margin: 2rem 0;
}

.post-content figure {
    margin: 3rem 0;
}

.post-content figure img {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

button {
    width: 30rem;
    height: 5rem;
    margin-top: 2rem;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
}

button a {
    text-decoration: none;
}

@media(max-width:900px) {
    .post-title {
        font-size: 4rem;
    }
    .post-title h2 {
        font-size: 3rem;
    }
}

@media(max-width:800px) {
    .post-content figure img {
        width: 45rem;
    }
}

@media(max-width:600px) {
    .post-content figure img {
        width: 30rem;
    }
}

@media(max-width:400px) {
    .post-content figure img {
        width: 20rem;
    }
    button {
        width:15rem ;
    }
}